<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arbortary</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="d-flex justify-content-between mx-5">
      <div class="welcome">
        <h1>Arbortary</h1>
        <h4>A site to track randomly planted Trees!</h4>
      </div>
      <div class="user-dash">
        <a href="/arbortary/account" class="nav-link d-inline-block"
          >My trees</a
        >

        <h3 class="d-inline-block">Welcome, {{user.first_name}}!</h3>
        <div class="btns d-flex justify-content-center">
          <a href="/arbortary/plant_tree">
            <button class="btn-success">Plant A tree</button>
          </a>
          <a href="/arbortary/logout">
            <button class="btn-danger">Logout</button>
          </a>
        </div>
      </div>
    </header>
    <main class="container">
      <table class="table table-success my-5">
        <thead>
          <td>Spiecies</td>
          <td>Planted By</td>
          <td>Visitors</td>
          <td>Actions</td>
        </thead>
        <tbody>
          {% for tree in trees %}
          <tr>
            <td>{{tree.spiecie}}</td>
            <td>{{tree.planted_by.first_name}}</td>
            <td>{{tree.visited_by.all.count}}</td>
            <td><a href="/arbortary/show_tree/{{tree.id}}">details</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
